## Sample environment file.
##
## Copy this file and rename it to '.env', 
## then customize it for your environment.

## NGROK Configuration
#NGROK_ENABLED=1
#NGROK_TOKEN=""
#NGROK_TYPE='http'
#NGROK_PROTO='http'
#NGROK_HOST='127.0.0.1'
#NGROK_PORT='80'

## TOR Configuration
#TOR_ENABLED=1