## Sample environment file.
##
## Copy this file and rename it to '.env', 
## then customize it for your environment.

## Enables the use of Ngrok.
#NGROK_ENABLED=1
#NGROK_TOKEN=<insert token here>

RELAY_HOST=127.0.0.1
RELAY_PORT=8080
